*{
    margin:0;
    padding: 0;
}

body{
background :rgb(89, 151, 151);
color :black}
body section {
    padding: 10px auto;
    background: rgba(164, 163, 187, 0.212);
    margin-bottom: 20px;

}
    header {
        width: 100%;
    }
    header nav {
        width: 95%;
        max-width: 1000px;
        margin: 20px auto ;
        background: #024959;
    }
.menu_bar{
    display:none;
}
header nav ul{
    overflow: hidden;
    list-style: none;
}
/* el flot left es para que se pongan uno al lado del otro el pverflow
hidden es para que no se pegues
list style es para que se le quiten los úntos de viñetan que tinen
*/
header nav ul li{
    float: left;
}
header nav ul li a{
    color:  #fff;
    padding: 20px;
    display: block;
    text-decoration: none;

}
 header nav ul li span{

    margin-right:10px;
 }
 header nav ul li a:hover {
     background: #037E8C;
 }
 section{
     padding: 20px;
 }
 /*media screnn es para decirle que cambie dependiendo el tamaño de la pantalla
  que especifique en el max witdh*/
 @media screen and (max-width:800px){
header nav{
    width: 80%;
    height: 100%;
    left: -100%;
    margin:0px ;
position: fixed;
padding-block:10px;

}
header nav ul li{
    display: block;
    float:none;
    border-bottom:1 px solid rgba(255,255,255, .3);
  
  
}

.menu_bar{
    display: block;
    width: 100%;
    background: #ccc;
}
.menu_bar .bt-menu{
    display: block;
    padding: 20px;
    background: #024959;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    -webkit-box-sizing:border-box ;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.menu_bar span{
    float: right;
    font-size: 40px;
}
 }
