@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?tsnljh');
  src:  url('fonts/icomoon.eot?tsnljh#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?tsnljh') format('truetype'),
    url('fonts/icomoon.woff?tsnljh') format('woff'),
    url('fonts/icomoon.svg?tsnljh#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e900";
}
.icon-phone:before {
  content: "\e942";
}
.icon-rocket:before {
  content: "\e9a5";
}
.icon-briefcase:before {
  content: "\e9ae";
}
.icon-sphere:before {
  content: "\e9c9";
}
.icon-earth:before {
  content: "\e9ca";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-exit:before {
  content: "\ea14";
}
.icon-paragraph-justify:before {
  content: "\ea7a";
}
.icon-mail3:before {
  content: "\ea85";
}
